<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>

    <header>
        <a href=""><img src="../static/png/index/logo.png" alt="logo"></a>        
        <nav>
            <ul>
                <li><a href="">Blog</a></li>
                <li><a href="">Catalog</a></li>
                <li><a href="">About Us</a></li>
            </ul>
        </nav>
        <img src="../static/png/index/search.png" alt="search">
        <a href="/contact">Contact Us</a>
    </header>

    <main>        
        <section>
            <h1>THE OOH NOO COLLECTION</h1>
            <p>Designed in Slovenia</p>
            <button>Explore now</button>
        </section>

        <section>
            <h2>Category Products</h2>
            <ul>
                <li>
                    <img src="../static/png/index/apparel_kids.png" alt="apparel_kids">
                    <h3><a href="">APPAREL<br>KIDS</a></h3>
                </li>
                <li>
                    <img src="../static/png/index/holi_shop.png" alt="holi_shop">
                    <h3><a href="">HOLIDAY<br>SHOP</a></h3>
                </li>
                <li>
                    <img src="../static/png/index/toys.png" alt="toys">
                    <h3><a href="">TOYS</a></h3>
                </li>
                <li>
                    <img src="../static/png/index/accesories.png" alt="accesories">
                    <h3><a href="">ACCESSORIES</a></h3>
                </li>
            </ul>
            <p>
                Modern finds for the modern home. Curated goods by unique designers<br>
                around the world from fashion to furniture for kids and adults.
            </p>
        </section>

        <section>
            <img src="../static/png/index/girl.png" alt="girl">
            <h3>Delivery</h3>
            <ul>
                <li>
                    <h4><a href="">Delivery</a></h4>
                </li>
                <li>
                    <h4><a href="">Guarantee</a></h4>
                </li>
                <li>
                    <h4><a href="">Credit</a></h4>
                </li>
            </ul>
            <p>
                Some days i feel like i've been working on dlk my entire life and<br>
                there are other days that i am completely shocked that four<br>
                 years have flown by. It's simply magical.
            </p>
            <p>
                What started as an outlet to deal  with the traumatic loss of my<br>
                husband, dlk has now become a truly happy place for me and i<br>
                have you and all of the beautiful designers that we work with<br>
                to thank!
            </p>
            <button>LEARN MORE</button>
        </section>

        <section>
            <ul>
                <li><img src="../static/svg/index/image.svg" alt="owox"></li>
                <li><img src="../static/svg/index/image-1.svg" alt="eltex"></li>
                <li><img src="../static/svg/index/image-2.svg" alt="apple"></li>
                <li><img src="../static/svg/index/image-3.svg" alt="mail"></li>                
            </ul>
        </section>

        <article>
            <h3>Design Life Kids</h3>
            <h4>About Us</h4>
            <p>
                Some days i feel like i've been working on dlk my entire life and <br>
                there are other days that i am completely shocked that four <br>
                years have flown by. It's simply magical. 
            </p>
            <button>Buy now</button>
        </article>

        <article>
            <h3>Contacts</h3>
            <p>
                Some days i feel like i've been working on dlk my entire life and <br>
                there are other days that i am completely shocked that four <br>
                years have flown by. It's simply magical.
            </p>
            <img src="" alt="">
        </article>
    </main>

    <footer>
        <article>
            <h3>Navigation</h3>
            <ul>
                <li>
                    <a href="">
                        <h4>About Us</h4>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h4>Blog</h4>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h4>Design Services</h4>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h4>Featured On</h4>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h4>2018 Holiday Catalog</h4>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h4>Shop By Designer</h4>
                    </a>
                </li>
            </ul>
        </article>

        <article>
            <h3>Customer Information</h3>
            <ul>
                <li>
                    <a href="">
                        <h4>Contact Us</h4>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h4>Sale Exclusions</h4>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h4>Shipping & Returns</h4>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h4>Terms & Conditions</h4>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h4>Privacy Policy</h4>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h4>Search</h4>
                    </a>
                </li>
            </ul>
        </article>

        <article>
            <h3>Connect</h3>
            <form action="/email" method="POST">
                <label for="Email">Email</label>
                <input type="text" id="Email">
                <button type="submit">JOIN</button>
            </form>
            <ul>
                <li><img src="../static/svg/index/f.svg" alt="facebook"></li>
                <li><img src="../static/svg/index/Fill 11.svg" alt="twitter"></li>
                <li><img src="../static/svg/index/Pinterest.svg" alt="pinterest"></li>
                <li><img src="../static/svg/index/Instagram.svg" alt="inst"></li>
            </ul>
        </article>

        <section>
            <p>Company Rating</p>
            <img src="../static/png/index/Star.png" alt="rating">
            <p>Copyright © 2018 Dlk • Design Life Kids</p>
            <p>Web Design — Direct Line Development</p>
        </section>
        
    </footer>

</body>
</html>