<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ ad.heading }}</title>
</head>
<body>
    <p>Автор: {{ ad.author }}</p>
    <p>Дата публикации: {{ ad.date_pub }}</p>
    <p>
        <img alt="announce's image" src='{{ ad.image.url }}' 
        style="width: 450px; height: 450px;">
    </p>
    <p>Цена: {{ ad.price }} $</p>
    <p>Описание: {{ ad.description }}</p>
    <p>Количество просмотров: {{ ad.views_count }}</p>
    <hr>
    <p>Комментарии:</p>

    {% for comment in comments %}
        <p>{{ comment }}</p>
    {% endfor %}

    <form method='post' enctype='multipart/form-data'>
        {% csrf_token %}
        <button type='submit'>Комментарий</button>
    </form>    
</body>
</html>