<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
    <p>Avito</p>
    <p>Размещайте объявления и совершайте покупки на Авито! Удобно. Быстро. Безопасно. Выгодно.</p>
    <p>Для просмотра категорий объявлений перейдите по 
        <a href="{%url 'categories' %}">
            ссылке
        </a>

    </p>
    <p>Для просмотра всех объявлений перейдите по 
        <a href="{%url 'announce' %}">
            ссылке
        </a>

    <p>
    <a href="{%url 'ad_create' %}">
        <button type='submit'>Создать объявление</button>
    </a>
    </p>

    </p>
    {% if posts %}
        <ul>
            {% for post in posts %}
                <li>
                    <a href='{%url "det_announce" post.id %}'>{{ post }}
                    <p>
                        <img alt="announce's image" src="{{ post.image.url }}" 
                            style='width: 250px; height: 250px;'>
                    </p>
                    </a>                    
                    <p>{{ post.author }}</p>                    
                    <p>{{ post.date_pub }}</p>
                    <p>Количество просмотров: {{ post.views_count }}</p>
                </li>
            {% endfor %}
        </ul> 
    {% endif %}
</body>
</html>